.git
.idea/
raspberry_sd_card_memory_backup.img
venv/
LogicRaspberry/__pycache__/
LogicRaspberry/venv
LogicRaspberry/.vscode
LogicRaspberry/.idea
Printed Circuit Board/fp-info-cache
Printed Circuit Board/turret_pcb-backups
Printed Circuit Board/turret_pcb.kicad_prl

