.git
.idea/
backup
venv/
Logic/__pycache__/
Logic/venv
Logic/.vscode
Logic/.idea
Printed Circuit Board/fp-info-cache
Printed Circuit Board/turret_pcb-backups
Printed Circuit Board/turret_pcb.kicad_prl

